.capsule:hover {
	/* filter: hue-rotate(250deg); */
	filter: invert(30%);
	cursor: pointer;
}

.capsuleParent {
	transition: all 0.1s ease-in-out 0s;
}

.capsuleParent:hover {
	/* transform: matrix();  */
	transform: rotate(10deg);
}

.capsuleParentInner {
	/* transform: matrix();  */
	/* transform: rotate(10deg); */
	transition: all 0.4s ease-in-out 0.4s;
}
.capsuleSpinner {
	-webkit-animation: rotating 0.5s linear infinite;
	-moz-animation: rotating 0.5s linear infinite;
	-ms-animation: rotating 0.5s linear infinite;
	-o-animation: rotating 0.5s linear infinite;
	animation: rotating 0.5s linear infinite;

}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
.capsuleNavbar {
	transition: all 0.1s ease-in-out 0s;
}

.capsuleNavbar:hover {
	filter: invert(30%);
	transform: rotate(10deg);
	cursor: pointer;
}