@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Replaced `@tailwind` with `@import` statements to avoid TS lint error. */
/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* https://cssgradient.io/gradient-backgrounds/ */
body {
	background-color: #4158D0;
		background-image: linear-gradient(22deg, #4158D0 0%, #f5d2f5 46%, #f0c513 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
	body {
		background: linear-gradient(55deg, #4158D0 0% 5%, #f5d2f5 50% 85%, #f0c513 95% 100%);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
.grow-spin {
	/* transition: all 0.1s ease-in-out 0s; */
	animation: growSpinAnimation 0.5s;
}

@keyframes growSpinAnimation {
	from {
		transform: scale(0) rotate(0.5turn);
	}

	to {
		transform: scale(1) rotate(0);

	}
}

.capsule-row {
	animation: slideRowAnimation 0.25s;
	transition: all .5s ease-in;
}

@keyframes slideRowAnimation {
	from {
		transform: scale(0.5);
	}

	to {
		transform: scale(1);

	}
}